<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ACE in Action</title>
        <style type="text/css" media="screen">
            #editor {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        </style>
    </head>
    <body>
        <div id="editor">
            /** Your code here **/
        </div>

        <script src="http://cdn.jsdelivr.net/webjars/ace/01.08.2014/src-noconflict/ace.js"
              th:src="@{/webjars/ace/01.08.2014/src-noconflict/ace.js}" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/java");
        </script>
    </body>
</html>
